html, body {
    width: 100svw;
    height: 100svh;
    background-color: rgb(31, 31, 31);
}

#background{
    position: absolute;
    width: 100svw;
    height: 100svh;
    background-color: rgb(31, 31, 31);
    margin: 0;  
    padding: 0;
    z-index: 10;
    opacity: 1;
}

#hideImage{
    position: absolute;
    z-index: 10;
    width: 100svw;
    height: 100svh;
    display: none;
}

#imageContainer{
    position: absolute;
    z-index: 10;
    width: 80svw;
    height: 90svh;
    left: 10svw;
    top: 5svh;
    display: none;
}

img{
    border: 5px solid rgb(31, 31, 31);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: none;
}

#textContrainer{
    position: absolute;
    z-index: 10;
    width: 80svw;
    height: 30svh;
    left: 10svw;
    top: 60svh;
    display: none;
}

#text_desc{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 30px;
    color: aliceblue;
    background-color: #785831a8;
}

#text_plaque {
    pointer-events: none;

    display: none;
    /* display: block; */
    z-index: 10;
    position: absolute;
    top: 40%;
    left: 5svw;
    width: 90svw;
    height: 5svh;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 微軟正黑體;
    font-size: 30px;
    color: aliceblue;
    background-color: #785831a8;
}


@media screen and (min-width: 768px) and (max-width: 979px) {
    /* // 如果使用者之視窗寬度介於 768px ~ 979px，將會再載入這裡的 CSS。 */
    
    #text_desc{
        font-size: 15px;
    }

}